#contact{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 50px;
       
}
.contact-container{
    width: 80%;
    border-radius: 15px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
     box-shadow: inset 0px 2px 0.5px 0px rgba(158, 167, 231, 0.525);
}
.contact-header{
    margin-left: 140px;
    color: white;
}
.left{
    width: 35%;
    margin: auto;
}
.left-card{
    margin: 20px;
    width: 90%;
    background-color: #10151c;
  padding: 10px;
    border-radius: 8px;
    padding: 10px;
     box-shadow: inset 1px 1px 3px 1px rgba(158, 167, 231, 0.525);
}
.left-card img{
    border-radius: 100px;
}
.card-up{
    display: flex;
}
.card-up h3{
    font-size: 17px;
    margin-left: 5%;
    color: white;
    font-weight: 700;
}
.card-down{
    font-size: 13px;
    margin: auto;
margin-left: 10px;
font-weight: 500;
}
#contact-github{
    width: 60px;
margin: auto;
}
.git_in{
  
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
 
}
#contact-linkedin{
width: 65px;
margin: auto;

}
.get-touch{
    font-size: 20px;
    text-align: left;
}
.right{
    width:35% ;
}
input{
    background-color: #12181f;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    font-weight: 300;
    padding: 4px 10px 4px 10px
}
#connect-btn{
    display: block;
    margin: auto;
    margin: 20px
}
.message_box{
    height: 100px;
    margin-top: 10px;
}
small{
    color: #2323a2;
    margin-left: 20px;
font-size: 20px;
font-weight: 500;
}

                    /* <=============Media Qeurry=============> */

@media screen and (max-width: 740px) {
.contact-main{
    width: 100%;
    margin: auto;
    margin-top: 15px;
    padding-bottom: 20px;      
}
.contact-container{
    width: 90%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
     box-shadow: inset 0px 2px 0.5px 0px rgba(158, 167, 231, 0.525);
}
.contact-header{
    margin-left: 5%;
    font-size: 30px;
    color: white;
}
.left{
    width: 90%;
    margin: auto;
}
.left-card{
    margin: 10%;
    width: 90%;
    background-color: #10151c;
  padding: 5%;
    border-radius: 8px;
     box-shadow: inset 1px 1px 3px 1px rgba(158, 167, 231, 0.525);
}
.left-card img{
    border-radius: 70px;
}
.card-up h3{
    font-size: 20px;
    margin-left: 5%;
    color: white;
    font-weight: 500;
}
.card-down{
    font-size: 12px;
    margin: auto;
margin-left: 5%;
font-weight: 500;
}
.card-down{
    font-size: 12px;
    margin: auto;
margin-left: 5%;
font-weight: 500;
}
.get-touch{
    font-size: 15px;
}
.right{
    width:90% ;
    margin: auto;
}
input{
    width: 100%;
    margin: auto;
    background-color: #12181f;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    font-weight: 300;
    padding: 4px 10px 4px 10px
}
}                    