#projects{
    width: 100%;
    margin: auto;
    margin-top:5px;
    padding-top: 50px;
}
.project-container{
    padding-top: 20px;
width: 80%;
margin: auto;
display: flex;
flex-direction: column;
border-radius: 15px;
 box-shadow: inset 0px 2px 0px rgba(158, 167, 231, 0.525);
}
.project-header{
    margin-left: 140px;
    color: white;
}
.project-card{
    width: 100%;
    margin-bottom: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
     box-shadow: 10px 10px 20px 0px rgba(164, 165, 177, 0.525);
}
.project-desc{
    width: 50%;
    margin-left: 15px;
    margin-top: 15px;
}
.project-description{
    font-size: 16px;
    font-weight: 300;
}
.project-img{
    width: 50%;
    display: block;
    margin: auto;
}
.project-img:hover{
 transform:translateY(-6px);
 box-shadow: 10px 10px 20px 0px rgba(164, 165, 177, 0.525);
 
}
.project-title{
    font-size: 30px;
    color: rgb(35, 35, 162);
}
.project-tech-stack{
    width: 50%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tech-img{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
}
.btn-div{
    width: 200px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.project-deployed-link{
  background-color: #2323a2;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.project-github-link{
      background-color: #2323a2;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.project-github-link :hover{
  background-color: gray;
}
.project-deployed-link :hover{
  background-color: gray;
}
.btn{
    background-color: #2323a2;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 7px 14px 7px 14px;
    color: white;
}
.btn:hover{
    background-color: gray;
}
                   /* /* <=============Media Querry============> */
 
    @media screen and (max-width: 740px) {
.project-main{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
}
.project-header{
    margin-left: 5%;
    color: white;
}
.project-container{
    padding-top: 10px;
width: 90%;
margin: auto;
display: flex;
flex-direction: column;
border-radius: 10px;
 box-shadow: inset 0px 2px 0px rgba(158, 167, 231, 0.525);
}
.project-card{
    width: 100%;
    margin-bottom: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
     box-shadow: 1px 1px 20px 0px rgba(164, 165, 177, 0.525);
}
.project-desc{

    width: 90%;
    margin: auto;
    margin-left: 5%;
    margin-top: 3%;
}
.project-img{
    width: 90%;
    display: block;
    margin: auto;
    box-shadow: 7px 0px 20px 0px rgba(164, 165, 177, 0.525);
}

    }