* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #686f7c ;
    font-family: "Poppins", sans-serif;
  /* font-size: xx-large; */
  /* background-color: #12181f; */
}
body {
  font-family: "Poppins", sans-serif;
}
.App {
background-color: #12181f;
width: 100%;
height: 100hv;
}
